<div class="issues-container">
  <div *ngFor="let issue of issues">
    <p>Issue ID: {{ issue.id }}</p>
    <p [class]="getStatusClass(issue.status)">Status: {{ issue.status }}</p>
    <h2>{{ issue.description }}</h2>
    <p class="severity">
      <mat-icon class="severity-icon">priority_high</mat-icon>
      {{ issue.severity }}
    </p>
    <p class="assigned">
      <mat-icon class="assignment-icon">assignment_ind</mat-icon>
      {{ issue.assigned }}
    </p>

    <button mat-raised-button color="warn" (click)="onCloseIssue(issue)">
      Close
    </button>
    <button mat-raised-button color="accent" (click)="onDeleteIssue(issue.id!)">
      Delete
    </button>
  </div>
</div>
